:root {
    --color-brand1: #FAA0A0;
    --color-brand2: #C21E56;
    --color-brand3: white;
}

.TodoCalendar-container {
    width: 550px;
    max-height: 900px;
    margin: auto;
}

.react-calendar {
    width: 100%;
    max-width: 980px;
    max-height: 550px; 
    border: 1px solid var(--color-brand1);
    border-radius: 2px;
    font-family: Arial, sans-serif;
    background-color: var(--color-brand1);
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--color-brand2);
}

.react-calendar__navigation button {
    border: none;
    cursor: pointer;
}

.react-calendar__tile {
    padding: 5px;
}

.react-calendar__tile--active {
    background-color: var(--color-brand2);
}

.react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--color-brand2);
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    color: var(--color-brand3);
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}