:root {
    --color-brand: #F88379;
}

.App-footer {
    border-top: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-style: italic;
    font-weight: bold;
    position: fixed;
    background-color: var(--color-brand);
    color: #ffffff;
}