:root {
    --color-brand1: #FAA0A0;
    --color-brand4: #F3CFC6;
}

.TodoList-container {
    background-color: var(--color-brand1);
    border-radius: 0.5rem;
    width: 50%;
    margin: 1rem auto;
    min-height: 6rem;
    max-height: 80vh;
    padding: 1rem;
    overflow-y: auto;
    box-sizing: border-box;
}

.TodoList-container:-webkit-scrollbar {
    display: none;
}

.TodoList-list-container {
    display: flex;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--color-brand4);
    margin-left: 2rem;
    padding: 10px;
    margin: 0.5rem;
    align-items: center;
    height: 63px;
}

ul {
    padding-left: 0px;
}

li {
    width: 80%;
    list-style-type: none;
}

.TodoList-input1 {
    width: 30%;
    background-color: var(--color-brand4);
    border: 2px solid var(--color-brand4);
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

.TodoList-input2 {
    background-color: var(--color-brand1);
    border: 2px solid var(--color-brand1);
    outline: none;
    width: auto;
    margin: 0 auto;
}

.TodoList-button {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    width: 15%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}

.TodoList-button:hover {
    background-color: var(--color-brand1);
}

h2 {
    color: #C21E56;
}